/*body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}*/

.navbar-li{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 5%;
  left: 1%;
}

.chatroom-list li{
  list-style-type: none;

}


/*.nav navbar-nav{
  float: left;
  margin-left: 20px;
}*/

.item-images{
  list-style-type: none;
}

.crop img{
  position: fixed;
  width: 10%;
}

.navbar .nav > li {
  display: table-cell;
  width: 1%;
  float: none;

}

.item-form{
    position: fixed;
    bottom: 125px;
    left: 20px;
    width: 225px;
    height: 500px;
    border: solid;
}

/*.chat-canvas{
  width: 1000px;
  height: 500px;
  margin-left: 200px;
  margin-right: 100px;
}*/

.background-img img{
  border: solid;
  width: 900px;
  height: 500px;
}

.welcome-chats{
  border: solid;
  width: 500px;
  height: 500px;
  margin-left: 100px;
}


.welcome-create{
  border: solid;
  width: 500px;
  height: 500px;
  margin-left: 700px;
}


/*.giphy-search{
  position: absolute;
    top: 190px;
    left: 0;
    width: 200px;
    height: 700px;
    border: 3px solid;
}

.scroll-bar {
  overflow: scroll;
}*/
